@page
@model KTLT_QuanLyCuaHang.Pages.Create_Sale_Receipt.IndexModel

@using Microsoft.AspNetCore.Http
@using KTLT_QuanLyCuaHang.Entities
@using KTLT_QuanLyCuaHang.BusinessLogic_BLL
@using KTLT_QuanLyCuaHang.Constants
@using Newtonsoft.Json

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Add New Sale Receipt";

    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("userEmail");

    string infoText = string.Empty;
    string saleReceiptId = string.Empty;
    string[]? formKeys = null;
    int []? formValues = null;
    Product[]? products = Product_BLL.GetUnexpiredProductList();

    if (Request.Method == "POST")
    {
        if(products != null){
            saleReceiptId = Request.Form["saleReceiptId"];
            int productListLength = products.Length;

            string jsonContent = JsonConvert.SerializeObject(products);
            Product[] exportingGoods = JsonConvert.DeserializeObject<Product[]>(jsonContent);

            formKeys = new string[productListLength];
            formValues = new int[productListLength];

            for (int i = 0; i < productListLength; i++)
            {
                string prodId = products[i].id;
                formKeys[i] = prodId;
                string valueContent = Request.Form[prodId];
                if (Shared_BLL.isNoE(valueContent))
                {
                    valueContent = "0";
                }
                int value = int.Parse(valueContent);
                formValues[i] = value;
                exportingGoods[i].quantity = value;

                
            }

            infoText = SaleReceipt_BLL.CreateSaleReceipt(saleReceiptId, exportingGoods);

            if(infoText == ProcessStatusConstants.SALE_RECEIPT_CREATING_SUCCESSFUL)
            {
                Response.Redirect("/sale-receipt");
            }
        }
    }
}

<div>
    @if (string.IsNullOrEmpty(userEmail))
    {
        <div style="display:flex; align-items: center; justify-content: center; height: 400px">
            <h2>Login to use this app</h2>
        </div>
    }
    else
    {
        @if (products == null)
        {
            <p>Cannot create sale receipt as there is no product instock...</p>
        }
        else
        {
            <h2 style="padding: 1rem 0">Create New Sale Receipt</h2>

            <form method="POST">
                <div class="inputField new">
                    <label for="saleReceiptId">Enter New Sale Receipt ID ...</label>
                    <input type="text" name="saleReceiptId" value="@saleReceiptId" />
                </div>

                <h3 style="padding: 1rem 0; color: slategrey">And quantity for each product...</h3>
                <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Expiration Status</th>
                    </tr>
                    @for (int i = 0; i < products.Length; i++)
                    {
                        Product product = products[i];
                        <tr>
                            <td>@product.name</td>
                            <td>@product.price</td>
                            <td>
                                @if(formKeys == null)
                                {
                                    <input type="number" name=@product.id placeholder="Instock: @product.quantity"/>
                                } else
                                {
                                    if(formValues[i] <= product.quantity)
                                    {
                                        <input type="number" name=@product.id value="@formValues[i]" placeholder="Instock: @product.quantity" />
                                    } else
                                    {
                                        <input type="number" style="background-color: red" name=@product.id value="@formValues[i]" placeholder="Instock: @product.quantity" />
                                    }
                                }
                            </td>
                            <th>
                                @if (Product_BLL.CheckProductExpirationStatus(product.expDate) == ExpirationStatus.EXPIRED)
                                {
                                    <div class="expiration-color-code" style="background-color: red">Expired</div>
                                }
                                else if (Product_BLL.CheckProductExpirationStatus(product.expDate) == ExpirationStatus.NEAR_EXPIRATION_7)
                                {
                                    <div class="expiration-color-code" style="background-color: orangered">Expires Soon</div>
                                }
                                else if (Product_BLL.CheckProductExpirationStatus(product.expDate) == ExpirationStatus.NEAR_EXPIRATION_14)
                                {
                                    <div class="expiration-color-code" style="background-color: gold">Expires within 14 days</div>
                                }
                                else
                                {
                                    <div class="expiration-color-code" style="background-color: green">Looks good!</div>
                                }
                            </th>
                        </tr>
                    }
                </table>

                <p class="info-text">@infoText</p>

                <div class="action-button-wrapper">
                    <input type="submit" value="Create Sale Receipt" class="action-button" />
                    <a href="/sale-receipt" class="action-button dangerous">
                        Cancel
                    </a>
                </div>
            </form>
        }
    }

</div>

@section Styling{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:first-child, tr:first-child:hover {
            background-color: deepskyblue;
            color: white;
        }

        tr:hover {
            background-color: #dddddd;
        }

        .create-sale-receipt {
            background-color: forestgreen;
        }

        .inputField.new {
            font-size: 1.5rem;
            background-color: forestgreen;
            color: white;
            font-weight: bold;
            border-radius: 8px;
            padding-left: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

            .inputField.new > input {
                width: 70%;
                padding-left: 1rem;
                line-height: 1.5rem;
                font-weight: bold;
                border-radius: 8px;
            }

        .info-text{
            margin: 2rem 0;
            color: red;
            font-weight: bold;
        }

        .action-button-wrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .action-button {
            text-decoration: none;
            display: inline-block;
            line-height: 1.5rem;
            background-color: deepskyblue;
            color: white;
            text-align: center;
            border-radius: 4px;
            font-weight: bold;
            padding: 8px;
            width: 15rem;
        }

        a.action-button {
            text-decoration: none;
            color: white
        }

        .action-button.dangerous {
            background-color: red;
        }

    </style>
}

